*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62%;
}
body{
  font-size: 1.6rem;
}
section{
  background: url(assets/gradient-698244_960_720.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: min(50rem, 100%);

  margin: auto;
  margin-top: 20rem;
  margin-bottom: 5rem;
  border-radius: 2.5rem;

  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  color: aliceblue;
}
img{
  width: 100%;
  height: 100%;
}
 /*===== estilo section ====*/

 section h1{
   font-size: 3.5rem;
   margin-top: 3rem;
   margin-bottom: 5rem;
 }
 section div {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 section p{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 1rem;
   font-size: 2rem;
 }
 section input{
   margin: auto;
   text-align: center;
   width: 22rem;
 }

/*===== estilos main section =====*/

section main{
  margin-top: 7rem;
}

button{
  margin-top: 7rem;
  margin-bottom: 2rem;
  width: 15rem;
  height: 3rem;
  cursor: pointer;

  border-radius: 1.5rem;
  font-size: 1.8rem;

  background-color: rgb(218, 214, 14);
  color: rgb(12, 12, 12);
  border: none;
}
button:hover{
  background-color: rgb(2, 110, 2);
  color: aliceblue;
}

/*====== responsividade ======*/

@media (min-width: 1024px) {
  section#block{
    display: flex;
    flex-direction: initial;
    width: min(75rem, 100%);
    justify-content: space-around;
  }
  section#block p{
    font-size: 2.2rem;
  }
  section#block button{
    width: 18rem;
    height: 4rem;
    text-transform: uppercase;
    font-size: 2rem;
  }
}